// $blue: #1eb6d2;
$blue-light: #ebf4fa;
$blue-dark: #4d75a3;
// $red: #eb5874;
$gray: #f2f4f6;
$border: #e5e5e5;
$text-color-dark: #3f4f5f;
$text-color-light: #667a90;
$text-color-gray: #b1b1b1;
$headerHeight: 60px;
